.addblog {
  margin: 4vh 0;
}

.viewblog {
  margin: 4vw 0;
}
// This class is used in blog and article page, so for the, not using inside viewblog class.
.blogbox {
  border-bottom: 2px solid $lightgrey; 
  border-radius: 5px;
  margin-top:5vh;
  margin-left: 6vw;
  margin-right: 8vw;
  h2 {
    margin-bottom:10px;
    text-decoration: underline;
    font-weight: 800;
  }
  h3 {
    font-weight: 600;
  }
  p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 1.5vw;
  }
  .vieweditdelete {
    display: flex;
    padding-bottom: 2vh;
    .vieweditdeletebutton {
      margin-right: 1vw;
      button {
        width: 100%;
        padding: 1vh 4vh;
        font-size: 16px;
        border-radius: 80px;
        text-align: center;
        background-color: $white;
        border: 1px solid $darkgreen;
        margin-top: 0.6vh;
      }
      button:hover {
        background-color: $green;
      }
    }
  }
}

.blogbox:last-child {
  border-bottom: 0;
}
.blogcommentsection {
  margin-top: 4vh;
  margin-left: 8vw;
  textarea { 
    width: 60%;
    height:10vw;
    margin-left: 1px;
  }
  p { 
    margin-top: 10px; 
    margin-bottom: 0rem;
  }
  button {
    display: block; 
    margin-left: 2px; 
    margin-top: 2px; 
    background-color: $bgcolor; 
    border: 0px; 
    color: $black; 
    font-weight: bold;
  }
}

.addMyBlog {
  margin: 8vh 10vw 6vh 5vw;
}

// .blogimage {
//   max-width: 30%; 
//   height: auto;
// }

/* 
@media (max-width: 991px) {
  .blogimage {
    width: 20vh;  }
  }
    
@media (min-width: 1366px) {
  .blogimage {
      width: 40vh;  }
}
   */
// .blogcontent {
//   margin-top: 20px; 
//   border-radius: 5px; 
//   h3 { 
//     padding: 0 0 0 0; 
//     text-align: left; 
//   }
//   p { 
//     width:85%; 
//     line-height: 6vh; 
//     text-align: left; 
//     font-size: 16pt; 
//   }
// }

// .blogcontent p { 
//   padding: 1vw 7vw 0 0.5vw;
//   line-height: 6vh;
//   text-align: left;
// }

// .blogimage {
//   max-width: 40%; 
//   height: auto; 
//   margin-bottom: 10px;
// }